@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

* {
  /* margin: 0; */
  /* padding: 0; */
  font-family: merriweather;
}

/* header styles */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(/images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  color: white;
  text-align: center;
  margin: 50px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner p {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 43px;
}

.banner h1 {
  color: #fff;
  text-align: center;
  font-size: 90px;
  font-weight: 900;
  line-height: 95px;
}

/* section 1 styles */

.section-1 {
  margin: 190px 150px;
  text-align: center;
}

.section-title h1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 50px;
}

.section-title p {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.section-title h2 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

.section-1-image {
  width: 802.9px;
  height: 500px;
}

/* section 2 styles */

.section-2 {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(images/Vectorrr.png);
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  color: white;
  margin: 50px 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-2-title h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin: 30px 95px 24px 130px;
}

.section-2-title p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 90px 24px 130px;
}

.red {
  color: red;
  font-weight: bold;
}

.join-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-family: inter;
  font-weight: 400;
  font-size: 20px;
  margin-left: 130px;
  padding: 18px 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.join-button:hover {
  background-color: white;
  color: black;
}

.join-button:active {
  background-color: transparent;
  color: white;
}

.section-2-image {
  margin: 70px 138px 68px 40px;
}

/* section 3 styles */

.section-3 {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  margin: 200px 150px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3-content {
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.imp {
  color: red;
}

.section-3-button {
  margin-top: 64px;
  border: none;
  background-color: red;
  padding: 16px 32px;
  color: white;
  border-radius: 5px;
  font-family: inter;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.15s;
}

.section-3-button:hover {
  background-color: rgb(226, 3, 3);
}

.section-3-button:active {
  opacity: 0.6;
}

/* section-4 styles */

.section-4 {
  width: 1500px;
  height: 733px;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-1 {
  width: 33%;
  text-align: left;
}

.content-1-title {
  color: red;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.content-1 h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}

.content-1-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.image {
  border: 10px solid red;
  border-radius: 50%;
  margin-right: 190px;
  margin-left: 190px;
  width: 33%;
  padding: 20px;
}

.content-2 {
  width: 33%;
}

.content-2 h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.content-2 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}

/* section 5 styles */

.secton-5{
  width: 1600px;
  height: 7335px;
}

.sale-details{
text-align: center;
width: 1068px;
margin: auto;

}

.sale-details-title{
color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

.sale-details h1{
color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}

.sale-description{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;

}

.sale-image{
  padding: auto 150px;
  width: 1320px;
  height: 229px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.red-image{
  width: 100%;
}

.girl-image{
  margin-bottom:-4px;
  position: relative;
  left: 26px;
}

.discount-image{
  position: relative;
  left: 185px;
  z-index: 1;

}

.gift-box{
  position: relative;
  top: 250px;
}